/* User specified */
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700')

.bar {
    width: 510px;
}

.block0,
.block1,
.block2 {
  width: 15px;
  height: 15px;
}

/* ------------------- */

body {
    font-family: 'Droid Sans', sans-serif;
}

table {
    width: 800px;
}

.block0,
.block1,
.block2 {
    float: left;
    border: solid 1px white;
    overflow: hidden;
    display: inline-block;

    margin: 0;
    padding: 0;
}

.block0 {
    background-color: #4DE17D;
}

.block1 {
    background-color: #CBC535;
}

.block2 {
    background-color: E86F75;
}

.left-label {
    text-align: right;
}

.right-label {
    text-align: left;
}
